<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style1.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>

	<div id="w">
      <div id="content" class="clearfix">
        <div id="userphoto"><img src="<%= profile.photo %>" alt="default avatar"></div>
        <h1><%= profile.name %></h1>

        <section id="settings">
          <p class="setting"><span>College:</span><%= profile.college %></p>

          <p class="setting"><span>Course:</span><%= profile.field %></p>

          <p class="setting"><span>Semester:</span><%= profile.semester %></p>

          <p class="setting"><span>Contact No. :</span><%= profile.phone_number %> </p>

          <p class="setting"><span>Facebook:</span><a href='<%= profile.facebook_link %>' data-external=''> <%= profile.facebook_link %></a></p>
        </section>
      </div><!-- @end #content -->
    </div><!-- @end #w -->
</body>
</html>
